[submodule "client/jPlayer"]
	path = client/jPlayer
	url = git@github.com:happyworm/jPlayer.git
[submodule "servers/search/node-proxies"]
	path = servers/search/node-proxies
	url = git@github.com:evolvingweb/node-proxies.git
[submodule "client/ajax-solr"]
	path = client/ajax-solr
	url = git@github.com:evolvingweb/ajax-solr.git
