[submodule "node/site/ajax-solr"]
	path = node/site/ajax-solr
	url = git@github.com:evolvingweb/ajax-solr.git
[submodule "node/site/jPlayer"]
	path = node/site/jPlayer
	url = git@github.com:happyworm/jPlayer.git
