{
  "solr": {
    "host": "solr.example.com",
    "port": 8080,
    "proxy": {
      "host": "proxy.example.com",
      "port": 8008
    }
  },
  "music": {
    "host": "music.example.com",
    "port": 31337,
    "musicDir": "/path/to/music/root",
    "fileTypes": [
      "mp3",
      "ogg",
      "flac"
    ]
  },
  "allowedHosts": [
    "127.0.0.1"
  ]
}
    
